<div class="body">

    <div class="proj_header">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <div class="container-fluid p-0">
          <a class="navbar-brand" routerLink="/" >NUKLEON</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
              <a class="nav-link" routerLink="/whitepaper" routerLinkActive="active">Whitepaper</a>
              <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
              
            </div>
          </div>
          <button (click)="openApp()" class="launch btn btn-primary">Launch app</button>

        </div>
      </nav>
</div>

<!-- -->
<div style="color: white; " class="caption" >
 
  <div class="content"> <h1 class="main_caption">WHITEPAPER EXECUTIVE SUMMARY</h1></div>
  <br> <div class="content">
  <h4 class="title">ABSTRACT</h4>
  <p style="font-size: 13px; " class="words">
    The efficiency and economics of large-scale storage have fundamentally changed as a
    result of decentralized cloud storage. Users can store and exchange data without
    relying on a third-party storage service when central control is removed.
    Decentralization increases object storage's security, read performance, and privacy
    while reducing the chance of data failures and outages.
    <br>
    Additionally, decentralization enables market forces to optimize for cheaper storage at a
    faster rate than any single provider could provide. Any particular implementation must
    take care of a number of specialized duties, such as security, compatibility, resistance
    against malicious actors, favorable economics for both providers and end users, and
    incentive setting. We offer a modular architecture for thinking about these duties and for
    developing our distributed storage network based on our experience with petabyte size
    storage systems. We also provide details on the framework's initial concrete
    implementation.
  </p>
</div>
<div class="content">

<h3 class="title">COLLOQUY</h3>
  <p style="font-size: 13px; " class="words">
    The world's expanding data requirements may be addressed via decentralized cloud
    storage, which has gained popularity. The amount of digital data produced worldwide
    doubles every year, and by 2024, some predictions predict it will exceed 30 zettabytes
    annually. At the same time, the vast majority of storage devices are working at less
    than 15% of their potential, and over the past three years, the cost of cloud storage has
    decreased by less than 8% annually. Furthermore, the traditional cloud model suffers
    from serious security, availability, and performance problems, especially in areas far
    from important data centers.
    <br>
    Decentralized cloud storage's inherent advantages can meet these requirements.
    Decentralized cloud storage stands out as a fresh, efficient, and cost-effective option by
    making use of underutilized, existing hard drives and bandwidth while maintaining
    Nodes that are comparable to conventional data centers. A decentralized strategy also
    enables us to build a system that is substantially more resilient to harmful or unreliable
    actors and significantly more durable.
    <br>
    Several important market areas can be addressed by the Nukleon decentralized orbital,
    especially those pertaining to long-term archive storage and S3-compatible object
    storage. To handle a far wider range of use cases, from fundamental object storage to
    content delivery networks, we are developing a system (CDN). The Nucleon
    decentralized orbital is the next step in cloud storage and will play a significant role in
    shaping and propelling innovation in the emerging web 3.0 era.
    
  </p>
</div>

  <div class="content"><h3 class="title">NUKLEON ORBITAL IMPROVEMENT BASED ON EXPERIENCE</h3>
  <p style="font-size: 13px; " class="words">
    Simplicity has been given top priority throughout the design process by our team. The
    majority of the network uses tried-and-true, frequently-applied technologies but employs
    them in novel ways. Our dedication to functionality includes our choice not to store files
    or metadata on a blockchain or other distributed ledger. Platforms with horizontal scaling,
    like AWS S3, are common among storage users and improve performance when more
    hardware is added. Distributed ledgers, however, find it difficult to accomplish this, thus
    we avoid utilizing them for actual data storage. <br>
    The Nukleon orbital uses erasure codes for resilience rather than replication, which is
    another important point of differentiation. Replication is a subpar option as a method to
    ensure resilience because bandwidth is a limiting issue on decentralized cloud storage
    networks. We have discovered that systems that use erasure codes to achieve six
    nines of durability use five times less storage capacity than systems that use replication
    to achieve the same durability level. This finding is based on our research and
    experience running our previous network, which scaled to a size greater than any other
    decentralized cloud storage network in the world.
    
  </p></div>


  <div class="content"><h3 class="title">THE CHALLENGES OF DECENTRALIZED NETWORK</h3>
  <p style="font-size: 13px; " class="words">
   
   
The requirements, network implementation, and general architecture of a scalable,
resilient decentralized cloud storage platform must take into account a number of
design restrictions. Many platforms fall short in properly addressing these
architectural limitations, leading to the delivery of decentralized cloud storage
networks with excessive latency, poor file durability, high costs, and subpar
performance. <br>
Nucleon Orbital creates a network that can in many ways outperform centralized
cloud storage services by addressing the architectural constraints. The design
restraints that we have taken into account include:  </p> <br>
<ul style="font-size: 13px; ">The need for AWS S3 compatibility to ensure easy migration
</ul> 
<ul style="font-size: 13px; "> Device failure and churn, which are tightly coupled with durability and
bandwidth</ul>
<ul style="font-size: 13px; ">Minimizing bandwidth usage due to bandwidth caps imposed by ISPs •
The need for enterprise-grade security and privacy for data stored on the
network</ul>
<br></div>

<div class="content"><h3 class="title">OBJECT STORAGE VS DATABASE USE CASES</h3> 
<ul style="font-size: 13px; ">Byzantine fault tolerance across the decentralized cloud storage
    network </ul>
<ul style="font-size: 13px; ">General attack resistance to combat data breaches and DDoS attacks
    </ul>
<ul style="font-size: 13px; ">Achieving decentralization to ensure maximum reliability
   </ul>
<ul style="font-size: 13px; ">Economic viability to keep costs competitive with centralized platform offerings
    </ul>
<ul style="font-size: 13px; ">Building coordination avoidance systems instead of coordination dependant
    systems</ul>
  <p style="font-size: 13px; " class="words">
  
    Delivering cloud storage that is simple to integrate into current
    infrastructure and applications is a key objective of our platform.
    Additionally, it must provide security, encryption, reputation management,
    trustlessness (reducing the amount of trust needed from any one entity
    on the network), durability, and resilience. A decentralized network will
    eventually fail if it cannot provide these crucial qualities
  </p></div>

  <div class="content"><h3 class="title">NUKLEON ORBITAL DESIGN</h3>
  <p style="font-size: 13px; " class="words">
    We have created a unique design with eight parts that offers the best decentralized
storage implementation. The architecture we describe performs within the parameters of
the design restrictions, offers the fundamental capabilities anticipated, and transfers
savings to storage users. 
The framework of components discussed in this white paper are:<br>
<ul style="font-size: 13px; ">Storage nodes</ul>
<ul style="font-size: 13px; ">Peer-to-peer communication and discovery</ul>
<ul style="font-size: 13px; ">Redundancy</ul>
<ul style="font-size: 13px; ">Metadata</ul>
<p style="font-size: 13px; " class="words">
This framework is crucial to the overall Nukleon platform, and we don't anticipate
it or its components changing as the network develops and grows. Because of
this, we do not believe that a major overhaul of the network would be
necessary; rather, we anticipate that the actual implementation of the various
components will change. As this happens, we'll update the white paper as
necessary. <br>
Three separate areas of the network have these eight components.</p>
<ul style="font-size: 13px; ">An Uplink is any software or service which invokes LibUplink in order to
communicate with Satellites and Storage Nodes. Examples of Uplinks include
the Uplink CLI and the Gateway.</ul> 

<ul style="font-size: 13px; ">The Storage Node, which stores the data for the network. Each one is
independently operated and does not share bandwidth, power or other
resources.</ul>
<ul style="font-size: 13px; ">The Satellite, which operates as a heavy client that connects Uplinks to the
Storage Node network and manages metadata for files. It also handles file
audits, repair and other crucial network tasks.</ul>
<ul style="font-size: 13px; ">There will be many satellites on the network and companies and community
members will be able to operate their own satellites as well.
</ul>  </div>

  <div class="content"><h3 class="title">BRIDGING OPEN SOURCE AND DECENTRALIZATION</h3>
  <p style="font-size: 13px; " class="words">
    In addition to being open source, our new orbital gives open source businesses
    financial flexibility by allowing them to profit each time a user stores data in the cloud.
    This helps Nukleon increase platform adoption among the creative open source
    community while also assisting open source businesses interested in making money
    from the use of their products in the cloud.
    <br>
    Through connectors developed with the help of each open source partner, the network
    makes the new program possible. The connectors keep track of data utilization by user
    or storage bucket. A portion of the revenue made when data passes via one of these
    connections is donated to the appropriate project, and the open source company is
    given credit for the usage. Revenue is also received by partners for network capacity
    utilization.     <br>
    The new Nukleon white paper will be updated regularly as new functionality is made
    possible by developments in research and technological advancements. We predict that
    the core eight components will remain the same, while their concrete implementation will
    evolve to maximize security, dependability, efficiency, performance and take use of other
    benefits.
    
  </p></div>
</div>






</div>