<div class="shapes">
  <div class="shape-01 move-01"></div>
  <div class="shape-02 move-02"></div>
  <div class="shape-03 move-03"></div>
</div>

<section class="features d-flex flex-column align-items-center">
  <h2 class="section_title text-light">About us</h2>
  <div class="card_container w-100 d-flex flex-wrap justify-content-between">
    <div class="feature_card" data-aos="fade-up">
      <!-- <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>About us</h3> -->
      <p class="card_detail">
        The demand for storage systems has evolved from remote storage to instant cloud storage and, most recently,
        to blockchain-based decentralized storage, or NUKLEON, as we'll name it. Decentralized storage options are
        now required due to the growth of web3, which will eventually enable users to archive, retrieve, and
        maintain their own data. Storage nodes make up NUKLEON, which are used to hold data for other people. For
        distributing their storage and bandwidth, contributors receive payment. Client-side encryption and erasure
        coding are used to protect any data saved on Nukleon storage nodes. Developers can store information on the
        Nucleu Decentralized Orbital (NUKN)using uplink clients, thanks to NUKLEON. When we need to spin up a new
        ETRON(S) and PTRON(S), i.e., information or collectibles, we can do it 90% faster while lowering network
        latency.
      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>WHAT WE DO</h3>
      <p class="card_detail">
        Nukleon provides a substitute for centralized solutions for data storage and website availability. We are
        creating a network that functions like a SUPER-COMPUTER by combining the processing power and storage of
        numerous individual devices. This network can store multiple copies of data in the NUKLEUS/CORE.

      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>RESOURCES</h3>
      <p class="card_detail">
        Examining the ecosystem and tools of the Nukleu decentralized orbital Project, one would understand that the
        Decentralized networks are not geographically constrained. The world's best brains are collaborating to
        advance the next iteration of the internet. Web3 platforms are gaining popularity since the promise of
        controlling and managing one's own data is revolutionary. Given that it is based on an incentive model,
        users are compensated for each time they store data on the NUKN network.
      </p>
    </div>


  </div>
</section>




<footer class="d-flex align-items-center justify-content-evenly">
  <a class="navbar-brand" href="#"><img src="assets/img/NUKLEON PNG.png" alt="" /></a>
  <div class="menu_container d-flex flex-column">
    <h5 class="menu_title">Contact</h5>
    <a href="" class="menu_link">No. 30 Rumunduru Eneka Road</a>
  </div>
  <div class="menu_container d-flex flex-lg-column">
    <h5 class="menu_title">Links</h5>
    <a href="" class="menu_link me-4">Link 1</a>

  </div>
</footer>


