*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background: linear-gradient(to bottom, #000006, #000000);
  height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

body::-webkit-scrollbar-track-piece {
  background-color: white;
}

body::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0a4c95;
}


.body {
  padding: 2rem 10rem;
  height: 100%;
  width:100%;
}

.side_nav {
  width: 100%;
  height: 6%;
  object-fit: border-box;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.side_nav .menu_search {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.side_nav .menu_search .hamburger {
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  margin-left: 2rem;
}

.side_nav .menu_search .hamburger:hover {
  color: grey;
}


.side_nav .menu_search .search_container {
  border: 2px solid #c292f9;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  width: 20%;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
}

.side_nav .menu_search .search_container input {
  background: transparent;
  outline: none;
  border: none;
  width: 95%;
  font-size: 1.3rem;
}


.side_nav .menu_search .search_container i {
  font-size: 1.6rem;
}

.side_nav .menu_container {
  position: fixed;
  height: 100%;
  width: 35%;
  top: 0;
  left: 0;
  background: #141d44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side_nav .menu_container .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  color: white;
}

.side_nav .menu_container .close:hover {
  color: cyan;
}

.side_nav .menu_container .menu {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
}

.side_nav .menu_container .menu:not(:last-of-type) {
  margin-bottom: 2rem;
}

.side_nav .menu_container .menu:hover {
  color: cyan;
}

.side_nav .menu_container .reference_option {
  margin-top: 2rem;
}

.side_nav .menu_container .reference_option .menu,
.side_nav .menu_container .reference_option .reference_btn {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
}

.side_nav .menu_container .reference_option .menu:not(:last-of-type),
.side_nav .menu_container .reference_option .reference_btn:not(:last-of-type) {
  margin-bottom: 2rem;
}

.side_nav .menu_container .reference_option .menu:hover,
.side_nav .menu_container .reference_option .reference_btn:hover {
  color: cyan;
}

.side_nav .menu_container .reference_option ul {
  list-style: none;
  padding-left: 0;
}

.side_nav .menu_container .reference_option ul .reference .reference_btn {
  font-size: 1.3rem;
}


.proj_header {
  height: 100%;
  width: 100%;
  background: url(../img/abcd1c6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center right;
  margin-bottom: 5rem;
}

.proj_header .navbar {
  width: 100%;
}

.container-fluid  .launch{
  padding:1rem;
  font-size: 2rem;
}
.proj_header .navbar .navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
 
}

.proj_header .navbar .navbar-collapse {
  width: 60%;
}

.proj_header .navbar .navbar-collapse .nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 2rem;
}

.proj_header .caption {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.proj_header .caption .main_caption {
  font-size: 4rem;
  color: #eee;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-weight: 600;

}

.proj_header .caption .sub_caption {
  font-size: 1.3rem;
  color: #eee;
}

.main_content {
  height: 100vh;
  width: 100%;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
}

.img img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.content {
  width: 85%;
  margin-left: 4rem;
  margin-bottom: 7rem;
}

.content .title {
  color: #3b90ff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.content .words {
  font-size: 1.5rem;
  color: #eee;
}

footer {
  height: 70%;
  width: 100%;
  background: linear-gradient(to bottom, #000006d0, #000000d7), url(../img/foot.png);
  margin-top: 30rem;
  background-size: cover;
  background-position: center center;
}

footer .logo {
  color: #eee;
  font-size: 4rem;
}

footer .menu_container .menu_title {
  color: #3b90ff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

footer .menu_container .menu_link {
  text-decoration: none;
  color: #eee;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.buy_container {
  box-sizing: border-box;
  padding: 2rem 10rem;
  height: 100vh;
  width: 100%;
  background: url(../img/FOIqfHwXsAgjOw7.png);
  background-size: cover;
  background-position: center center;
}

.buy_container .logo {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.buy_container .btn {
  font-size: 1.4rem;
}

.buy_container .main_buy {
  padding: 5rem 0;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  
}

.buy_container .main_buy .buy_card {
  width: 35rem;
  height: 20rem;
  background: linear-gradient(to right, #026d94, #0083b3), url(../img/1.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buy_container .main_buy .buy_card:nth-of-type(2) {
  background: linear-gradient(to right, #00b1f1, #015472), url(../img/2.png);
  margin-left: 2rem;
}

.buy_container .main_buy .buy_card:nth-of-type(2) .text {
  font-size: 2rem;
}

.buy_container .main_buy .buy_card:nth-of-type(2) .hold_btn {
  margin-top: 2rem;
}

.buy_container .main_buy .buy_card .card_content {
  font-size: 1.6rem;
  color: #eee;
}

.buy_container .main_buy .buy_card .highlight {
  font-size: 4.5rem;
  color: white;
}

.buy_container .main_buy .buy_card .btn {
  color: #00fde4;
  font-weight: 700;
}

.buy_container .main_buy .buy_card .primary_btn {
  background: linear-gradient(to right, #019e8e, #78163d);
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
}

.buy_container .buy_section .item_title {
  font-size: 2rem;
  color: #00b1f1;
  margin-bottom: 4rem;
}

.buy_container .buy_section .input_container {
  border-bottom: #00b1f1 2px solid;
  width: fit-content;
  width: -moz-fit-content;
  padding: 1rem 0.4rem;
}

.buy_container .buy_section .input_container input {
  background: none;
  width: 15rem;
  border: none;
  outline: none;
  color: #eee;
  font-size: 1.5rem;
}

.buy_container .buy_section .input_container .cta {
  background: linear-gradient(to right, #019e8e, #78163d);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
}

.buy_container .buy_section .stake .hold_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: rgba(220, 20, 60, 0.253) 2px solid;
  padding: 2rem;
}

.buy_container .buy_section .stake .heading {
  font-size: 3rem;
  color: #eee;
  width: 100%;
  margin-bottom: 5rem;
}

.buy_container .buy_section .stake .cta {
  background: linear-gradient(to right, #019e8e, #78163d);
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
}