*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 2rem 10rem;
  background: linear-gradient(to bottom, #000006, #000000);
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

body::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

body::-webkit-scrollbar-track-piece {
  background-color: white;
}

body::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0a4c95;
}

.side_nav {
  width: 100%;
  height: 6%;
  object-fit: border-box;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.side_nav .menu_search {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.side_nav .menu_search .hamburger {
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  margin-left: 2rem;
}

.side_nav .menu_search .hamburger:hover {
  color: grey;
}

.side_nav .menu_search .search_container {
  border: 2px solid #c292f9;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  width: 20%;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
}

.side_nav .menu_search .search_container input {
  background: transparent;
  outline: none;
  border: none;
  width: 95%;
  font-size: 1.3rem;
}

.side_nav .menu_search .search_container i {
  font-size: 1.6rem;
}

.side_nav .menu_container {
  position: fixed;
  height: 100%;
  width: 35%;
  top: 0;
  left: 0;
  background: #141d44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side_nav .menu_container .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  color: white;
}

.side_nav .menu_container .close:hover {
  color: cyan;
}

.side_nav .menu_container .menu {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
}

.side_nav .menu_container .menu:not(:last-of-type) {
  margin-bottom: 2rem;
}

.side_nav .menu_container .menu:hover {
  color: cyan;
}

.side_nav .menu_container .reference_option {
  margin-top: 2rem;
}

.side_nav .menu_container .reference_option .menu,
.side_nav .menu_container .reference_option .reference_btn {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
}

.side_nav .menu_container .reference_option .menu:not(:last-of-type),
.side_nav .menu_container .reference_option .reference_btn:not(:last-of-type) {
  margin-bottom: 2rem;
}

.side_nav .menu_container .reference_option .menu:hover,
.side_nav .menu_container .reference_option .reference_btn:hover {
  color: cyan;
}

.side_nav .menu_container .reference_option ul {
  list-style: none;
  padding-left: 0;
}

.side_nav .menu_container .reference_option ul .reference .reference_btn {
  font-size: 1.3rem;
}

.proj_header {
  height: 100%;
  width: 100%;
  /* background: url(../img/abcd1c6.png); */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center right;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .proj_header {
    height: 40%;
    margin-bottom: 0;
  }
}

.proj_header .navbar {
  width: 100%;
  background: rgba(2, 0, 32, 0.568);
}

.proj_header .navbar .navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.proj_header .navbar .navbar-collapse {
  width: 60%;
}

.proj_header .navbar .navbar-collapse .nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 2rem;
}

.proj_header .caption {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 37.5em) {
  .proj_header .caption {
    height: 70%;
    width: 100%;
  }
}

.proj_header .caption .main_caption {
  font-size: 4rem;
  color: #eee;
  margin-bottom: 3rem;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .proj_header .caption .main_caption {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.proj_header .caption .sub_caption {
  font-size: 1.3rem;
  color: #b9b9b9;
}

@media only screen and (max-width: 37.5em) {
  .proj_header .caption .sub_caption {
    font-size: 1.5rem;
  }
}

.main_content {
  height: 100vh;
  width: 100%;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .img {
    display: none;
  }
}

.img img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.content {
  width: 85%;
  margin-left: 4rem;
  margin-bottom: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .content {
    margin-left: 0;
    width: 100%;
  }
}

.content .title {
  color: #3b90ff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.content .words {
  font-size: 1.5rem;
  color: #eee;
}

footer {
  height: 50%;
  width: 100%;
  background: rgba(2, 0, 22, 0.514);
  margin-top: 10rem;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 37.5em) {
  footer {
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
  }
}

footer a {
  color: #eee;
  font-size: 4rem;
}

footer a img {
  width: 25rem;
  height: 25rem;
}

@media only screen and (max-width: 37.5em) {
  footer a img {
    width: 18rem;
    height: 18rem;
  }
}

@media only screen and (max-width: 37.5em) {
  footer a {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  footer .menu_container {
    width: 80%;
    flex-wrap: wrap;
  }
}

footer .menu_container .menu_title {
  color: #3b90ff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  footer .menu_container .menu_title {
    width: 100%;
  }
}

footer .menu_container .menu_link {
  text-decoration: none;
  color: #eee;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  footer .menu_container .menu_link {
    font-size: 1.5rem;
  }
}

.buy_container {
  box-sizing: border-box;
  padding: 2rem 10rem;
  height: 100vh;
  width: 100%;
  background: url(../img/FOIqfHwXsAgjOw7.png);
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 37.5em) {
  .buy_container {
    padding: 2rem;
    margin-bottom: 17rem;
  }
}

.buy_container .logo {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.buy_container .btn {
  font-size: 1.4rem;
}

.buy_container .main_buy {
  padding: 5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .main_buy {
    flex-direction: column;
  }
}

.buy_container .main_buy .buy_card {
  width: 35rem;
  height: 20rem;
  background: linear-gradient(to right, #916300e3, #916300e3), url(../img/1.png);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .main_buy .buy_card {
    width: 100%;
  }

  .buy_container .main_buy .buy_card:first-of-type {
    margin-bottom: 2rem;
  }
}

.buy_container .main_buy .buy_card:nth-of-type(2) {
  background: linear-gradient(to right, #916300e3, #916300e3), url(../img/2.png);
  margin-left: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .main_buy .buy_card:nth-of-type(2) {
    margin-left: 0;
  }
}

.buy_container .main_buy .buy_card:nth-of-type(2) .text {
  font-size: 2rem;
}

.buy_container .main_buy .buy_card:nth-of-type(2) .hold_btn {
  margin-top: 2rem;
}

.buy_container .main_buy .buy_card .card_content {
  font-size: 1.6rem;
  color: #eee;
}

.buy_container .main_buy .buy_card .highlight {
  font-size: 4.5rem;
  color: white;
}

.buy_container .main_buy .buy_card .btn {
  color: #0c0c0c;
  font-weight: 700;
}

.buy_container .main_buy .buy_card .primary_btn {
  background: linear-gradient(to right, #202020, #0a0a0a);
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .buy_section {
    flex-direction: column;
  }
}

.buy_container .buy_section .item_title {
  font-size: 2rem;
  color: #00b1f1;
  margin-bottom: 4rem;
}

.buy_container .buy_section .input_container {
  border-bottom: #00131a 2px solid;
  width: fit-content;
  width: -moz-fit-content;
  padding: 1rem 0.4rem;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .buy_section .input_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .buy_container .buy_section .input_container input {
    width: 80%;
  }
}

.buy_container .buy_section .input_container input {
  background: none;
  width: 15rem;
  border: none;
  outline: none;
  color: #eee;
  font-size: 1.5rem;
}

.buy_container .buy_section .input_container .cta {
  background: linear-gradient(to right, #1d1d1d, #181818);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .buy_section .input_container .cta {
    padding: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .buy_container .buy_section .stake {
    margin-top: 5rem;
  }
}

.buy_container .buy_section .stake .hold_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: rgba(220, 20, 60, 0.253) 2px solid;
  padding: 2rem;
}

.buy_container .buy_section .stake .heading {
  font-size: 3rem;
  color: #eee;
  width: 100%;
  margin-bottom: 5rem;
}

.buy_container .buy_section .stake .cta {
  background: linear-gradient(to right, #1b1b1b, #202020);
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .buy_container .buy_section .stake .cta {
    padding: 1rem;
  }
}

.header .navbar {
  width: 100%;
  background: rgb(36, 36, 36);
}

@media only screen and (max-width: 37.5em) {
  .header .navbar {
    padding: 0 2rem;
  }
}

.header .navbar .navbar-brand {
  color: rgb(209, 153, 0);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.header .navbar .navbar-collapse {
  width: 60%;
}

@media only screen and (max-width: 37.5em) {
  .header .navbar .navbar-collapse {
    width: 100% !important;
  }
}

.header .navbar .navbar-collapse .nav-link {
  font-size: 1.9rem;
  font-weight: 600;
  margin-right: 2rem;
  color: #c9c9c9;
}

.header .navbar .navbar-collapse .socials a {
  font-size: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .hero {
    flex-direction: column-reverse;
    padding: 2rem;
  }
}

.hero .copy {
  position: relative;
  width: 45%;
  opacity: 0.9;
  cursor: crosshair;
  filter: invert(0);
  transition: all 1.5s ease-in-out;
}

@media only screen and (max-width: 37.5em) {
  .hero .copy {
    width: 100%;
  }
}

.hero .copy h1 {
  font-family: sans-serif;
  font-size: 7rem;
  color: rgb(20, 20, 20);
  font-weight: bold;
}

@media only screen and (max-width: 37.5em) {
  .hero .copy h1 {
    font-size: 4rem;
    text-align: center;
  }
}

.hero .copy h1 span {
  color: #e99f00;
}

.hero .copy h6 {
  font-size: 1.7rem;
  color: rgb(32, 32, 32);
  font-weight: 500;
}

@media only screen and (max-width: 37.5em) {
  .hero .copy h6 {
    text-align: center;
  }
}

.hero .copy .btn_container {
  margin-top: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .hero .copy .btn_container {
    text-align: center;
  }
}

.hero .copy .btn_container .btn {
  padding: 1.2rem 1.5rem;
  font-size: 1.6rem;
}

.hero img {
  height: 50rem;
  width: 35%;
  object-fit: contain;
  animation: rotateY-anim 6s linear infinite;
}

@media only screen and (max-width: 37.5em) {
  .hero img {
    width: 93%;
    height: 23rem;
    object-fit: contain;
    margin: 6rem 0;

  }
}

@keyframes rotateY-anim {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


[class^="shape-"] {
  position: absolute;
  left: 40%;
  right: auto;
  top: 20%;
  bottom: auto;
  background-color: violet;
  width: 200px;
  aspect-ratio: 1/1;
  filter: blur(0.8rem);
}

.shapes {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.shapes .shape-01 {
  z-index: 3;
  width: 40rem;
  top: 35%;
  left: 30%;
  border-radius: 30% 70% 42% 58% / 41% 44% 56% 59%;
  opacity: 0.2;
  filter: blur(5rem);
  background: #003392;
  background: linear-gradient(90deg, #0058cc 0%, #00639c 46%, #007a99 100%);
}

.shapes .shape-02 {
  z-index: 1;
  width: 50rem;
  top: 32%;
  left: 56%;
  border-radius: 45% 55% 28% 72% / 70% 27% 73% 30%;
  opacity: 0.1;
  filter: blur(5rem);
  background: violet;
  background: linear-gradient(90deg, violet 0%, #580558 100%);
}

.shapes .shape-03 {
  z-index: 2;
  width: 70rem;
  top: 5%;
  left: 10%;
  border-radius: 38% 62% 66% 34% / 53% 57% 43% 47%;
  opacity: 0.2;
  filter: blur(5rem);
  background: #005d88;
  background: linear-gradient(90deg, #008d92 0%, #00828b 50%, #ea00ff 100%);
}

.move-01 {
  animation: shape-01 40s ease-in-out infinite;
}

.move-02 {
  animation: shape-02 40s ease-in-out infinite;
}

.move-03 {
  animation: shape-03 30s ease-in-out infinite;
}

@-webkit-keyframes shape-01 {
  0% {
    rotate: 0deg;
    transform: scale(1);
    top: 35%;
  }

  50% {
    rotate: 20deg;
    transform: scale(1.2);
    top: 50%;
  }

  100% {
    rotate: 0deg;
    transform: scale(1);
    top: 20%;
  }
}

@-webkit-keyframes shape-02 {
  0% {
    top: 32%;
    left: 56%;
    rotate: 0deg;
    transform: scale(1);
  }

  50% {
    top: 42%;
    left: 58%;
    rotate: -60deg;
    transform: scale(1.4);
  }

  100% {
    top: 32%;
    left: 56%;
    rotate: 0deg;
    transform: scale(1);
  }
}

@-webkit-keyframes shape-03 {
  0% {
    left: 40%;
    rotate: 0deg;
    transform: scale(1);
    border-radius: 38% 62% 66% 34% / 53% 57% 43% 47%;
  }

  50% {
    left: 36%;
    rotate: 360deg;
    transform: scale(1.2);
    border-radius: 50% / 50%;
  }

  100% {
    left: 40%;
    rotate: 0deg;
    transform: scale(1);
    border-radius: 38% 62% 66% 34% / 53% 57% 43% 47%;
  }
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #be34fea8;
  position: absolute;
}

.circle-wrapper {
  position: relative;
  background: #41d0ff75;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  filter: blur(30px);
  transform: scale(2.75);
}

.circle.first {
  transform: scale(2.5);
  left: 11%;
  top: 30%;
  animation: 2s ease-out pulse infinite both;
  animation-direction: alternate;
}

.circle.second {
  transform: scale(3.5);
  right: 20%;
  top: 55%;
  animation: 2s ease-out pulse infinite both;
  animation-direction: alternate;
  animation-delay: 0.5s;
}

.circle.third {
  transform: scale(2.75);
  left: 47.5%;
  top: 20%;
  animation: 2s ease-out pulse infinite both;
  animation-direction: alternate;
  animation-delay: 1s;
}

.circle.fourth {
  transform: scale(2.5);
  left: 25%;
  bottom: 25%;
  animation: 2s ease-out pulse infinite both;
  animation-direction: alternate;
  animation-delay: 1.2s;
}

@keyframes pulse {
  to {
    transform: scale(0.5);
  }
}

.section_title {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 5rem;
  color: black !important;
}

@media only screen and (max-width: 37.5em) {
  .section_title {
    margin-bottom: 2rem;
  }
}

.features {
  margin: 6rem 0;
}

@media only screen and (max-width: 37.5em) {
  .features {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .features .card_container {
    flex-direction: column;
  }
}

.features .card_container .feature_card {
  width: 24%;
  /* height: 18rem; */
  background: rgba(2, 0, 22, 0.514);
  padding: 2rem;
  border-radius: 10px;
}

@media only screen and (max-width: 37.5em) {
  .features .card_container .feature_card {
    width: 100%;
  }

  .features .card_container .feature_card:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.features .card_container .feature_card .card_title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #cfcfcf;
}

.features .card_container .feature_card .card_title i {
  margin-right: 1rem;
  color: #0096ae;
}

.features .card_container .feature_card .card_detail {
  font-size: 1.5rem;
  color: #cfcfcf;
}

.features .card_container .faq_card {
  width: 48%;
  height: 18rem;
  background: rgba(2, 0, 22, 0.514);
  padding: 2rem;
  border-radius: 10px;
}

@media only screen and (max-width: 37.5em) {
  .features .card_container .faq_card {
    width: 100%;
    height: 27rem;
    margin-bottom: 2rem;
  }
}

.features .card_container .faq_card .card_title {
  font-size: 2.7rem;
  font-weight: 600;
  color: #cfcfcf;
}

@media only screen and (max-width: 37.5em) {
  .features .card_container .faq_card .card_title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
}

.features .card_container .faq_card .card_detail {
  font-size: 1.5rem;
  color: #cfcfcf;
}

@media only screen and (max-width: 37.5em) {
  .features .card_container .faq_card .card_detail {
    color: #a3a3a3;
  }
}

@media only screen and (max-width: 37.5em) {
  .road_map {
    padding: 0 2rem;
  }
}

.road_map .sec_stepper {
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .road_map .sec_stepper {
    flex-direction: column;
  }
}

.road_map .sec_stepper .note {
  font-size: 1.6rem;
  color: #df9203;
  position: sticky;
  top: 28%;
}

@media only screen and (max-width: 37.5em) {
  .road_map .sec_stepper .note {
    margin-bottom: 5rem;
    position: unset;
    text-align: center;
  }
}

.road_map .sec_stepper :root {
  --background-color: #ffffff;
  --primary-color: #e66a53;
}

.road_map .sec_stepper * {
  box-sizing: border-box;
}

.road_map .sec_stepper .steps {
  width: 500px;
  padding: 24px 0;
  position: relative;
  margin: auto;
}

@media only screen and (max-width: 37.5em) {
  .road_map .sec_stepper .steps {
    width: 100%;
    padding: 0;
  }
}

.road_map .sec_stepper .steps::before {
  content: "";
  position: absolute;
  top: 0;
  height: 24px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  left: calc(50px / 2);
  z-index: 1;
}

.road_map .sec_stepper .steps::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 5px 0px var(--primary-color);
  border-radius: 15px;
  left: calc(50px / 2);
  bottom: 24px;
  transform: translateX(-45%);
  z-index: 2;
}

.road_map .sec_stepper .step {
  padding: 0 20px 24px 50px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.road_map .sec_stepper .step::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: #e0b700;
  border-radius: 15px;
  left: calc(50px / 2);
  transform: translateX(-45%);
  z-index: 2;
}

.road_map .sec_stepper .step::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #1f1f1f;
  left: calc(50px / 2);
  top: 0;
  z-index: 1;
}

.road_map .sec_stepper .step.minimized {
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.road_map .sec_stepper .header {
  user-select: none;
  font-size: 16px;
  color: rgba(27, 27, 27, 0.979);
}

.road_map .sec_stepper .subheader {
  user-select: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.road_map .sec_stepper .step-content {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.road_map .sec_stepper .step-content .step_list .index {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: #2d2d2d;
}

.road_map .sec_stepper .step-content .step_list .index i {
  font-size: 2rem;
  color: #e2b900;
  margin-right: 0.5rem;
}

.road_map .sec_stepper .step.minimized>.step-content {
  height: 0px;
}

.road_map .sec_stepper .step-content.one {
  height: auto;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

.header {
  height: unset;
  width: 100%;
}

.header .navbar {
  width: 100%;
}

.header .navbar .navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.header .navbar .navbar-collapse {
  width: 60%;
}

.header .navbar .navbar-collapse .nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 2rem;
}

.main_highlight .text .small {
  font-size: 1.2rem;
  font-weight: 700;
  color: #707070;
}

.main_highlight .text .headline {
  font-size: 3.5rem;
  color: #bebebe;
  margin-bottom: 1rem;
}

.main_highlight .text .post_detail .blog_link {
  font-size: 1.2rem;
}

.main_highlight .text .post_detail .date,
.main_highlight .text .post_detail .read_time {
  font-size: 1.2rem;
  font-weight: 700;
  color: #707070;
}

.most_recent-section .most_recent .card_img {
  width: 100%;
  height: 100%;
}

.most_recent-section .most_recent .card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.most_recent-section .most_recent .post_detail {
  margin: 2rem 0;
}

.most_recent-section .most_recent .post_detail a {
  font-size: 1.2rem;
}

.most_recent-section .most_recent .post_detail span {
  color: #707070;
  font-size: 1.2rem;
  font-weight: 700;
}

.most_recent-section .most_recent .headline {
  font-size: 2rem;
  color: #bebebe;
  margin-bottom: 1rem;
}

.nav-tabs .nav-link {
  font-size: 1.3rem;
}

.podcast_post:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee31;
  padding: 5rem 0;
}

.podcast_post .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.podcast_post .date {
  color: #707070;
  font-size: 1.2rem;
  font-weight: 700;
}

.podcast_post .title {
  font-size: 2rem;
  color: #bebebe;
  margin-bottom: 1rem;
  margin: 2rem 0;
}

.podcast_post .descr {
  color: #9e9e9e;
  font-size: 1.3rem;
}

.live_chat-container {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 40rem;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.live_chat-container .chat_card {
  height: 100%;
  width: 100%;
  background: #32437c;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.live_chat-container .chat_card .name_image {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: linear-gradient(to right bottom, #170055, #005177);
}

.live_chat-container .chat_card .name_image img {
  width: 5rem;
  height: 5rem;
}

.live_chat-container .chat_card .name_image .care .intro {
  color: white;
  font-size: 1.4rem;
  border-bottom: 0;
}

.live_chat-container .chat_card .name_image .care .online {
  color: #fefefe;
  font-size: 1.2rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.live_chat-container .chat_card .name_image .care .online::before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: #00cdd4;
  display: inline-block;
  margin-top: 0.3rem;
}

.live_chat-container .chat_card .chat_container {
  height: 68%;
  padding: 1rem;
  overflow-y: auto;
}

.live_chat-container .chat_card .chat_container .sender {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.live_chat-container .chat_card .chat_container .sender .msg {
  background: rgba(155, 155, 155, 0.308);
  max-width: 85%;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 10px;
  color: #e9e9e9;
}

.live_chat-container .chat_card .chat_container .receiver {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.live_chat-container .chat_card .chat_container .receiver .msg {
  background: rgba(8, 142, 204, 0.308);
  max-width: 85%;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 10px;
  text-align: right;
  color: #e9e9e9;
}

.live_chat-container .chat_card .typing {
  width: 100%;
  height: 15%;
  background: rgba(247, 247, 247, 0.253);
  display: flex;
  align-items: center;
}

.live_chat-container .chat_card .typing textarea {
  width: 90%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 1rem;
  resize: none;
  font-size: 1.3rem;
  color: #fefefe;
}

.live_chat-container .chat_card .typing button {
  background: none;
  border: none;
  outline: none;
}

.live_chat-container .chat_card .typing button i {
  color: #ffffff;
}

.chat_initiator {
  background: none;
  border: none;
  outline: none;
  background: linear-gradient(to right bottom, #be6c00, #f7a100);
  font-size: 1.3rem;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.chat_initiator i {
  color: white;
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

.prices_main .text-success {
  color: #00f7ce !important;
}

.prices_main .heading {
  margin: 2rem 0;
}

.prices_main .heading .headline {
  font-size: 3rem;
  color: #e99f00;
  font-weight: 600;
}

.prices_main .heading .sub_headline {
  font-size: 1.4rem;
  color: #2c2c2c;
  font-weight: 600;
}

.prices_main .trending {
  background: #e99f00;
}

.prices_main .trending .card_title .title {
  font-size: 1.5rem;
  color: #1d1d1d;
  font-weight: 600;
}

.prices_main .trending .card_title .title i {
  font-size: 2rem;
}

.prices_main .trending .card_title .more {
  font-size: 1.3rem;
  color: white;
  outline: none;
  padding: 0;
}

.prices_main .trending ol {
  color: #1d1d1d;
  padding-left: 0;
  padding: 0 2rem;
}

.prices_main .trending ol li {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.prices_main .trending ol li span img {
  width: 3rem;
  height: 3rem;
}

.nav-pills .nav-item .nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  color: #252525;
}

.tab-content .tab-pane .table tr,
.tab-content .tab-pane .table td {
  font-size: 1.3rem;
  color: #1a1a1a;
}

.tab-content .tab-pane .table tr img,
.tab-content .tab-pane .table td img {
  width: 3rem;
  height: 3rem;
}