.buy_container{

    font-size: 1.7rem !important;
     font-weight: 600 !important;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.buy_card{
  /* margin-left: 20px;
  margin-right: 40px; */
}
.buy_nuk{
  width: 35rem;
  }
  .hold_inputs{
    width: 35rem;
    }
@media only screen and (max-width: 37.5em) {

  .buy_card{
    /* margin-left: 20px; */
    margin-right: 40px; 
  }
  .buy_nuk{
  width: 100%;
  }
  .hold_inputs{
    width: 94vw;
    }
}


.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}