.buy_container{

    font-size: 1.7rem !important;
     font-weight: 600 !important;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.buy_card{
  /* margin-left: 20px;
  margin-right: 40px; */
}
.buy_nuk{
  width: 35rem;
  }
  .hold_inputs{
    width: 35rem;
    }
@media only screen and (max-width: 37.5em) {

  .buy_card{
    /* margin-left: 20px; */
    margin-right: 40px; 
  }
  .buy_nuk{
  width: 100%;
  }
  .hold_inputs{
    width: 94vw;
    }
}
