body {
  all: unset;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  display: block;

}

html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* after,before{
    box-sizing: border-box;
  } */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {

  color: inherit;
}

ul {
  list-style: none;
}
.testingR{
  position: relative;

  height: 100vh;
  width: 100%;
  z-index: 100;
  background: #050113;
  display: grid;
  place-items: center;
  font-family: "Oribtron", sans-serif;
}

/* loading div */
.loading {
  position: fixed;
  top: 0;

  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background: #000;
  display: grid;
  place-items: center;
  font-family: "Oribtron", sans-serif;

}

.loading_box {
  position: relative;
  width: 500px;
  height: 200px;
  border: 3px solid #03270b;
  border-top: 3px solid #6cff8c7a;
  border-bottom: 3px solid #6cff8c7a;
}

.loading_svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  display: none;
}

.loading_bar {
  width: 90%;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #ccc;
  border-radius: 2px;

}

.loading_bar--inner {
  height: 100%;

  border-radius: 2px;
  background: #6cff8d;
}

.loading_text {
  position: relative;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_dot {
  width: 15px;
  height: 15px;
  margin: 0 3px;
  border-radius: 50%;
  background: #fff;
  animation: pulse 1s infinite;
}

.loading_text_border {
  width: 85%;
  height: 1px;
  background: #6cff8c7a;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: width_animation 1s forwards;
}

.loading_counter {
  position: absolute;
  top: 70%;
  left: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.loading_counter_number {
  color: #6cff8d;
}

.loading_with_animation {
  animation: width_animation 1s forwards;
}

@media (max-width: 600px) {


  .loading_box {
    position: relative;
    width: 90vw;
    height: 200px;
    border: 3px solid #6cff8d;
    border-top: 3px solid #6cff8c7a;
    border-bottom: 3px solid #6cff8c7a;
  }

  .loading_text {
    position: relative;
    padding: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes pulse {
  from {
    opacity: 0;
    background: #6cff8d;

  }

  to {
    opacity: 1;

  }
}

@keyframes width_animation {
  0% {
    width: 50%;
  }

  100% {
    width: 85%;

  }
}



.threeBG{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -99;
  /* opacity: 0.2; */
  background: transparent;
}


/* landing div */

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #091551;
  /* background: transparent; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  overflow: hidden;


}
