<footer class="d-flex align-items-center justify-content-evenly">

  <div class="menu_container d-flex flex-wrap">

    <a style=" box-sizing: border-box; font-size: 1.3rem; font-weight: 600;  margin-right: 2rem;" class="nav-link " aria-current="page"
    routerLink="/" routerLinkActive="active">Home</a>
  <a style=" box-sizing: border-box; font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link"
    routerLink="/whitepaper" routerLinkActive="active">Whitepaper</a>
  <a style=" box-sizing: border-box; font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/blog"
    routerLinkActive="active">Blog</a>
    <a style=" box-sizing: border-box; font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link"
    routerLinkActive="active">NFT</a>
    <a style=" box-sizing: border-box; font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/aboutus"
    routerLinkActive="active">About Us</a>
  <a style=" box-sizing: border-box; font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/faq"
    routerLinkActive="active">FAQ</a>
  </div>
</footer>

