<body>


<header class="header">
  <div class="w-100 hero d-flex align-items-center justify-content-around">
    <div class="copy">
      <h1 class="main_caption">NUKLEON <span>DECENTRALIZED</span> ORBITAL</h1>
      <h6 class="sub_caption">
        Let's create a universal internet where Contributors are rewarded for distributing their storage and
        bandwidth on the NUKLEON, which is made up of "storage nodes" that are used to store data for others.
      </h6>

      <div class="btn_container">
        <button  class="btn btn-primary">Buy Now</button>
      </div>
    </div>
    <img
      src="assets/img/digital.png"
      class="move-01"
    />
    <!-- <img src="img/4bdd09efb22a073c1f89fc60a8ec59b4.png" class="move-01" /> -->
  </div>
</header>

</body>


