<body>

  <!-- `loading div -->
  <div class="loading">
  <div class="loading_box">
    <img class="loading_svg" src="assets/suv/loader15.svg" alt="">
    <div class="loading_text">
      <div class="loading_text_border "></div>
      NUKLE <div class="loading_dot">

      </div>N
    </div>
<div class="loading_bar">
  <div [style]="loading_bar_style" class="loading_bar--inner barinverval">

  </div>
</div>
<div class="loading_counter">
  <span>0%</span>
  <div class="loading_counter_number">{{loading_bar_inner}}%</div>
</div>
  </div>
</div>
<!-- `landing div -->
<div class="landing">

  <header  class="header">
    <div class="header_wrap">

      <ul class="header_left collapsesss">

        <li><a class="header_coolLink" data-text="Home" href=""><span>Home</span></a></li>
        <li><a class="header_coolLink hideli" data-text="Whitepaper" href=""><span>Whitepaper</span></a></li>
        <li><a class="header_coolLink" data-text="Blog" href=""><span>Blog</span></a></li>
        <li><a class="header_coolLink hideli" data-text="NFT" href=""><span>NFT</span></a></li>
        <li><a class="header_coolLink hideli" data-text="AboutUs" href=""><span>AboutUs</span></a></li>

      </ul>

      <!-- <div *ngIf="isollapse" style="opacity: 0;" class="menu-button"></div> -->
      <!-- <div (click)="isollapse?collapse():uncollapse()" class="menu-button"></div> -->
      <div class="header_right">
        <!-- <div *ngIf="isollapse" (click)="isollapse?collapse():uncollapse()" class="menu-button"></div> -->
        <button class="header_button"><span>Lunch app</span></button>
      </div>


    </div>
  </header>

</div>
</body>

