<nav  style=" background: transparent; z-index: 999;"
  class="navbar  hideOnLoad  navbar-expand-lg navbar-dark">
  <div class="container-fluid p-0">
    <!-- <a style=" color: white;
          text-decoration: none;
          font-size: 3rem;
          font-weight: 700;" class="navbar-brand" routerLink="/">NUKLEON</a> -->
          <a class="navbar-brand"  routerLink="/" routerLinkActive="active"
          ><img src="assets/WhatsApp Image 2023-04-05 at 13.13.41.png" style="height: 12rem; width: 12rem" alt=""
        /></a>
    <!-- <img width="150" height="100"  src="assets/img/NUD.png" alt="re"> -->


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style=" font-size: 1.3rem; font-weight: 600;  margin-right: 2rem;" class="nav-link " aria-="page"
          routerLink="/" routerLinkActive="active">Home</a>
          <a style=" font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" (click)="nft()"
          routerLinkActive="active">NFT</a>


        <a style=" font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" (click)="nft()"
          routerLinkActive="active">Blog</a>
        <a style=" font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/faq"
          routerLinkActive="active">FAQ</a>
          <a style=" font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/aboutus"
          routerLinkActive="active">About Us</a>

          <a style=" font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/whitepaper"
          routerLinkActive="active">Whitepaper</a>
        <a style=" font-size: 1.3rem;  font-weight: 600;  margin-right: 2rem;" class="nav-link" routerLink="/price"
          routerLinkActive="active">MarketPlace</a>



      </div>

    </div>

    <!-- <button (click)="openApp()" class="launch btn btn-primary">Launch app</button> -->

      <button style="z-index: 99; width: 50px; height: 50px;" class="navbar-toggler end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <button style="z-index: 99;" (click)="openApp()" class="headerPlay_button"><span>Lunch app</span></button>



  </div>
</nav>
