<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/COIN.png" style=" height: 6rem; width: 6rem; object-fit: contain;" alt="" /></a>

      <!-- <button style="z-index: 99; " class="navbar-toggler end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
      <button style=" margin-right: 20px; border-color: rgb(80, 67, 54); height: 50px; width: 50px;"
        class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  makingbold  " style="  " aria-current="page" routerLink="/"
              routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  makingbold" target="_blank" style="  " href="https://medium.com/@Nukleon"
              routerLinkActive="active">Blog</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link  makingbold" style="  "   routerLink="/faq" routerLinkActive="active">FAQ</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link  makingbold" style="  " routerLink="/aboutus" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  makingbold" style="  " routerLink="/whitepaper" routerLinkActive="active">Whitepaper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  makingbold" style="  " routerLink="/price" routerLinkActive="active">MarketPlace</a>
          </li>

        </ul>

        <div class="socials navbar-text d-flex">
          <a href="#" class="nav-link  makingbold p-0"><i class="icofont-twitter"></i></a>
          <a href="#" class="nav-link  makingbold p-0"><i class="icofont-telegram"></i></a>
          <a href="#" class="nav-link  makingbold p-0"><i class="icofont-instagram"></i></a>
        </div>
      </div>
    </div>
  </nav>


</header>