<div class="body">


  <app-header></app-header>

  <div class="proj_header zomebackground">
    <div class="caption">
      <h1 style="margin-top: 20px;" class="main_caption write-in">NUKLEON DECENTRALIZED ORBITAL</h1>
      <p class="sub_caption write-in-sub_caption">
        Let's create a universal internet where Contributors are rewarded for distributing their storage and bandwidth
        on the NUKLEON, which is made up of "storage nodes" that are used to store data for others.
      </p>
 <button class="btn btn-primary get-statred">Get Started</button>
    </div>

  </div>

</div>

