.zomebackground {
  width: 100%;
  height: 100vh;
  display: flex;

  background-image: '../img/NUKN/FLIER.png3.png';
  background-size: cover;
  background-position: center;
  animation: zoom-out 5s ease-in-out forwards;
}
.write-in-sub_caption {
  overflow: hidden;
  opacity: 0;

  animation: write-in 5s steps(30) forwards;
  animation-delay: 2s;
}
.get-statred{
  padding-left: 2rem;
  padding-right: 2rem;
}
.delayed {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 2s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  opacity: 0;
  animation: fade-in 6s forwards;
}
.pop-out {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  animation: pop-out 6.3s ease-in forwards;
}

@keyframes pop-out {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoom-out {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}



@keyframes write-in {
  from { width: 0; opacity: 0;}
  to { width: 100%; overflow:visible; opacity: 1;}
}
