<div class="body">

    <div class="proj_header">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid p-0">
          <a class="navbar-brand" routerLink="/" >NUKLEON</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon d-sm-none">fds</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " aria-current="page" routerLink="/" routerLinkActive="active" >Home</a>
              <a class="nav-link" routerLink="/whitepaper" routerLinkActive="active">Whitepaper</a>
              <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
              
            </div>
          </div>
          <button (click)="openApp()" class="launch btn btn-primary">Launch app</button>

        </div>
      </nav>
</div>



</div>