<div class="body">

  <app-header></app-header>

  <div class="proj_header">
    <div class="caption">
      <h1 style="margin-top: 20px;" class="main_caption">WHITEPAPER EXECUTIVE SUMMARY</h1>
      <p class="sub_caption">

      </p>
    </div>
  </div>

</div>
<footer class="d-flex align-items-center justify-content-evenly">
  <h1 class="logo">NUKLEON</h1>
  <div class="menu_container d-flex flex-column">
    <!-- <h5 class="menu_title">Contact</h5>
      <a href="" class="menu_link">Okohjulius@gmail.com</a>
      <a href="" class="menu_link">09075677971</a>
      <a href="" class="menu_link">No. 30 Rumunduru Eneka Road</a> -->
  </div>
  <div class="menu_container d-flex flex-column">
    <h5 class="menu_title">Links</h5>
    <a href="" class="menu_link">Link 1</a>
    <a href="" class="menu_link">Link 2</a>
    <a href="" class="menu_link">Link 3</a>
  </div>
</footer>
