<div class="body">


  <div class="proj_header">

    <div class="caption">
      <h1 style="margin-top: 20px;" class="main_caption">NUKLEON DECENTRALIZED ORBITAL</h1>
      <p style="font-size: 2rem; font-weight: 600; " class="sub_caption">
        Let's build a global internet where users are paid for searching data and sharing their storage and bandwidth on the AI-powered and storage-based NUKLEON
      </p>
      <p style="font-size: 2rem; font-weight: 600; " class="sub_caption">
        THE NUKLEON DECENTRALIZED ORBITAL is happy to announce the success of mainnet, which has been in development in the past three years and still ongoing.
        The Nukleon has been a research project since it's inception in 2019 until the present. The lunch of the mainnet heralds the completion of a feature-rich, fully functional protocol with a sizeable ecosystem and a committed community!
      </p>
      <!-- <p style="font-size: 2rem; font-weight: 600; " class="sub_caption">
        OVERVIEW.
        A growing interest in WEB3 and AI platforms is being sparked by the revolutionary promise of CONTROLLING, MANAGING AND MONETIZING one's own AI DATA.
        The demand for information and storage has increased as technology has developed. Moving from remote storage, to instant cloud storage and finally to AI Blockchain decentralized storage system, or what we will call the NUKLEON.
        NUKLEON is based on a user reward model, which means users get paid each time they source and store information on the network.
        We therfore congratulate memebers of the community in advance, who are willing to stand solidly with us all along.

      </p> -->
      <button style=" font-size: 1.8rem; padding:1rem 1.5rem" (click)="openApp()" class="launch btn btn-primary"><span>Lunch app</span></button>

    </div>
  </div>
</div>


<style>
  #bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    object-fit: fill;
  }
</style>
