
<header class="header">
  <div class="w-100 hero d-flex align-items-center justify-content-around">
    <div class="copy">
      <h1 class="main_caption">NUKLEON <span>DECENTRALIZED</span> ORBITAL</h1>
      <h6 class="sub_caption">
        Let's create a universal internet where Contributors are rewarded for distributing their storage and
        bandwidth on the NUKLEON, which is made up of "storage nodes" that are used to store data for others.
      </h6>
      <br><br>
     
      <h6 class="sub_caption">
        Get started by
 <br> 
        Sending {{currentChain.chainName}} Eth to the Contract Address  
 </h6>
 <h6 (click)="toggleForm(1)" style=" " class="sub_caption  trd">

  
    <div class="textbox" style="z-index: 600; width: 50%; overflow: hidden; text-overflow: ellipsis;" aria-disabled="true" type="text" id="textbox">{{ currentChain?.contractaddress }}</div>
    <button   [class]="Copied?'btn-success checkmark' :'btn-primary checkmark'">{{Copied?"Copied":"Copy"}}</button>

    <mat-form-field style="z-index: -800; align-self: center; position: absolute; top: 1; bottom: 1; left: 1; right: 1;" >
      <mat-select #currencySelect (selectionChange)="copyLink(selected.value)"  [formControl]="selected">
       
        
        <mat-option  *ngFor="let item of ChainIDs" [value]="item.id">{{item.chainName}}</mat-option>
        
      </mat-select>
    </mat-form-field>
  </h6>


      <div class="btn_container">
        <button  (click)="openApp()" class="btn btn-primary">Buy Now</button>
      </div>
    </div>
    <img
      src="assets/img/digital.png"
      class="move-01"
    />
    <!-- <img src="img/4bdd09efb22a073c1f89fc60a8ec59b4.png" class="move-01" /> -->
  </div>
</header>

<div class="shapes">
  <div class="shape-01 move-01"></div>
  <div class="shape-02 move-02"></div>
  <div class="shape-03 move-03"></div>
</div>

<section style="z-index: 999;" class="features d-flex flex-column align-items-center">
  <h2 class="section_title text-light">Features</h2>
  <div class="card_container w-100 d-flex flex-wrap justify-content-between">
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Features</h3>
      <p class="card_detail">
        Nukleon Decentralized finance allows for the monetization of personal data through the use of Artificial Intelligence, transforming day-to-day activities into a potential source of income.
      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Features</h3>
      <p class="card_detail">
        The NUD framework allows you to create your data on the Nukleon orbital, which can be leveraged by AI development requests based on your permission and financial requirement.
      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Liquidity</h3>
      <p class="card_detail">
        *Total supply = 500,000,000,000 <br>
        *50% Locked. = 250,000,000,000<br>
        *25% presale  =125,000,000,000<br>
        *10% airdrops= 50,000,000,000<br>
        *15% rewards =75,000,000,000.<br>

      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Community</h3>
      <p class="card_detail">
        NUKLEON is based on a user reward model, which means users get paid each time they source and store information on the network.We therfore congratulate memebers of the community in advance, who are willing to stand solidly with us all along.
      </p>
    </div>
  </div>
</section>
<section class="features d-flex flex-column align-items-center">
  <h2 class="section_title text-light">HOW TO BUY</h2>
  <div class="card_container w-100 d-flex flex-wrap justify-content-between">
    <div class="faq_card  h-auto" data-aos="fade-right">
      <h3 class="card_title">HOW TO BUY</h3>
      <p class="card_detail">
        1. Go to app store and download Metamask.<br><br>
        2. Purchase {{currentChain.chainName}}  from  <a href="https://okx.com/"
        target="_blank">OKX Exchange</a> or <a href="https://bybit.com"
        target="_blank">Bybit Exchange</a> <br><br>
        3. Send {{currentChain.chainName}}  to your metamask wallet 
        <!-- Proceed to the browser and paste the link 👉 <a href="https://bridge.zksync.io/"
          target="_blank">bridge.zksync.io/</a> and bridge your eth to zksync eth --><br><br>
        4. Send {{currentChain.chainName}} to this address 
      </p>
      <h6 (click)="toggleForm(2)" style="display: flex;flex-direction: row; z-index: 10000;" class="">

  
        <div (click)="toggleForm(2)" class="textbox" style="color: white; z-index: 600; width: 50%; overflow: hidden; text-overflow: ellipsis;" aria-disabled="true" type="text" id="textbox">{{ currentChain?.contractaddress }}</div>
        <button (click)="toggleForm(2)"  [class]="Copied?'btn-success checkmark' :'btn-primary checkmark'">{{Copied?"Copied":"Copy"}}</button>
    
        <mat-form-field style="z-index: -800; align-self: center; position: absolute; top: 1; bottom: 1; left: 1; right: 1;" >
          <mat-select #currencySelect2 (selectionChange)="copyLink(selected.value)"  [formControl]="selected">
           
            
            <mat-option  *ngFor="let item of ChainIDs" [value]="item.id">{{item.chainName}}</mat-option>
            
          </mat-select>
        </mat-form-field>
      </h6>
      <p class="card_detail">
        <br><br>
        <b>Advance user!</b>
        <br> 
        5. Still on your metamask browser, Proceed to <a routerLink="/app" target="_blank"> nudorbital.io/app</a> to buy
        $NUD.
      </p>
    </div>
    <div class="faq_card  h-auto " data-aos="fade-right">
      <h3 class="card_title">Proof of stake (POS)</h3>
      <p class="card_detail">
        Holders of $NUD can validate blocks of transactions based on the tokens a validator stakes. Depositing you $NUD in the protocol safety module is the act of staking. Staking serves as a tool for risks reduction in the event of a shortfall. Stakeholders in the safety module will receive safety incentives as a compensation for this.
        <br> The initial stakers rewards are 5000 NUD per day. Before the end of the three-month (90-day) schedule, votes will be cast on the quarterly allocation date for the safety incentives. The current allocation will continue until a vote or NUD reserve is depleted.
      </p>
    </div>
    <div class="faq_card  h-auto " data-aos="fade-right">
      <h3 class="card_title">REFER AND EARN</h3>
      <p class="card_detail">
        By easily recommending someone, you essentially turn into a brand advocate of NUD, eliminating buyer uncertainty and spreading brand loyalty. Consequently, a limitless community of NUD holders is created. Each referral can earn you $2.6, which can be withdrawn or converted to NUD and added to your Nukleon orbital portfolio
        <br>It is worthy of note that only holders up to 16 NUD can stake and/or receive a referral bonus...
      </p>
    </div>

  </div>
</section>
<section class="road_map d-flex flex-column align-items-center">
  <h2 class="section_title text-light">Road map</h2>

  <div class="sec_stepper d-flex align-items-center">
    <h4 class="note">
      <strong>Note</strong>: We are determined to follow through each project listed, within their given timeframes.
    </h4>

    <div class="steps" data-aos="zoom-in">
      <div class="step">
        <div class="step-header">
          <h5 class="header">PHASE 1</h5>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Nukleon launch</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 organic Twitter followers</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              1000 organic telegram members
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>1000 wallet transactions</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Roadmap creation
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>Governance</p>

          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 2</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>5000 telegram memebers</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 Twitter followers</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>Security</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Coin market cap listing
            </p>

          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 3</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Airdrops</p>
            <p class="index"><i class="icofont-tack-pin"></i>20000 telegram memebers</p>
            <p class="index"><i class="icofont-tack-pin"></i>5000 Twitter followers</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              10000 holders
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>Large influencer marketing</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Project review
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>Website redesign</p>
            <p class="index"><i class="icofont-tack-pin"></i>NFT development</p>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 4</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Increase marketing</p>
            <p class="index"><i class="icofont-tack-pin"></i>30000 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>60000 telegram memebers</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              10000 Twitter followers
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>Partnership announcement</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Roadmap review
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>Market analysis</p>
            <p class="index"><i class="icofont-tack-pin"></i>Airdrops</p>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 5</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>100000 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>100000 telegram memebers</p>
            <p class="index"><i class="icofont-tack-pin"></i>50000 Twitter followers</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              Listing on major top CEX.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features d-flex flex-column align-items-center">
  <h2 class="section_title text-light">FAQs</h2>
  <div class="card_container w-100 d-flex flex-wrap justify-content-between">
    <div class="faq_card  h-auto" data-aos="fade-right">
      <h3 class="card_title">What is Nukleon?</h3>
      <p class="card_detail">
        $NUD, also known as Nukleon Decentralized Orbital, is a cryptocurrency project that aims to create a decentralized AI exchange platform for trading digital assets. The platform is built on the Ethereum blockchain and uses smart contracts to execute trades automatically without the need for intermediaries, while maintaining their privacy and security. $NUD token is the native cryptocurrency of the platform and is used to pay for transaction fees and other services. It can also be used to stake on the platform and earn rewards. The project has a strong focus on community involvement and aims to provide users with a user-friendly interface and easy-to-use AI tools for trading. Overall, $NUD aims to provide a decentralized alternative to traditional centralized exchanges, giving users more control over their assets and trading activities.
      </p>
    </div>
    <div class="faq_card  h-auto" data-aos="fade-right">
      <h3 class="card_title">Who owns Nukleon?</h3>
      <p class="card_detail">
        The ownership of NUKLEON has been released, and the community has taken collective ownership. There are no controlling entities like a CEO, VC, or board members. Additionally, funding or contributions are non-compulsory, and the final say in determining the future course of the project rests with the community itself.
      </p>
    </div>
  </div>
</section>

<footer style="opacity: 0;" class="d-flex align-items-center opacity-0 justify-content-evenly">
  <a class="navbar-brand"  href="#"><img src="assets/img/NUKLEON PNG.png" alt="" /></a>
  <div class="menu_container d-flex flex-column">
    <h5 class="menu_title">Contact</h5>
    <a href="" class="menu_link">No. 30 Rumunduru Eneka Road</a>
  </div>
  <div class="menu_container d-flex flex-lg-column">
    <h5 class="menu_title">Links</h5>
    <a href="" class="menu_link me-4">Link 1</a>

  </div>
</footer>




