
<header class="header">
  <div class="w-100 hero d-flex align-items-center justify-content-around">
    <div class="copy">
      <h1 class="main_caption">NUKLEON <span>DECENTRALIZED</span> ORBITAL</h1>
      <h6 class="sub_caption">
        Let's create a universal internet where Contributors are rewarded for distributing their storage and
        bandwidth on the NUKLEON, which is made up of "storage nodes" that are used to store data for others.
      </h6>

      <div class="btn_container">
        <button  (click)="openApp()" class="btn btn-primary">Buy Now</button>
      </div>
    </div>
    <img
      src="assets/img/digital.png"
      class="move-01"
    />
    <!-- <img src="img/4bdd09efb22a073c1f89fc60a8ec59b4.png" class="move-01" /> -->
  </div>
</header>

<div class="shapes">
  <div class="shape-01 move-01"></div>
  <div class="shape-02 move-02"></div>
  <div class="shape-03 move-03"></div>
</div>

<section style="z-index: 999;" class="features d-flex flex-column align-items-center">
  <h2 class="section_title text-light">Features</h2>
  <div class="card_container w-100 d-flex flex-wrap justify-content-between">
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Fair Launch</h3>
      <p class="card_detail">
        We launched for everyone, making all tokens available. Our Nukleon coin is available for everyone on
        PancakeSwap V2.
      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Fair Launch</h3>
      <p class="card_detail">
        We launched for everyone, making all tokens available. Our Nukleon coin is available for everyone on
        PancakeSwap V2.
      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Fair Launch</h3>
      <p class="card_detail">
        We launched for everyone, making all tokens available. Our Nukleon coin is available for everyone on
        PancakeSwap V2.
      </p>
    </div>
    <div class="feature_card" data-aos="fade-up">
      <h3 class="card_title"><i class="icofont-rocket-alt-2"></i>Fair Launch</h3>
      <p class="card_detail">
        We launched for everyone, making all tokens available. Our Nukleon coin is available for everyone on
        PancakeSwap V2.
      </p>
    </div>
  </div>
</section>

<section class="road_map d-flex flex-column align-items-center">
  <h2 class="section_title text-light">Road map</h2>

  <div class="sec_stepper d-flex align-items-center">
    <h4 class="note">
      <strong>Note</strong>: We are determined to follow through each project listed, within their given timeframes.
    </h4>

    <div class="steps" data-aos="zoom-in">
      <div class="step">
        <div class="step-header">
          <h5 class="header">PHASE 1</h5>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Nukleon launch</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 wallet Transactions</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              Contract Auditing by solidity finance
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>1000 organic telegram members</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Creation of our Chinese community and Turkish community
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>White paper creation</p>
            <p class="index"><i class="icofont-tack-pin"></i>Road map creation</p>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 2</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Nukleon launch</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 wallet Transactions</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              Contract Auditing by solidity finance
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>1000 organic telegram members</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Creation of our Chinese community and Turkish community
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>White paper creation</p>
            <p class="index"><i class="icofont-tack-pin"></i>Road map creation</p>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 3</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Nukleon launch</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 wallet Transactions</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              Contract Auditing by solidity finance
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>1000 organic telegram members</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Creation of our Chinese community and Turkish community
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>White paper creation</p>
            <p class="index"><i class="icofont-tack-pin"></i>Road map creation</p>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 4</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Nukleon launch</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 wallet Transactions</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              Contract Auditing by solidity finance
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>1000 organic telegram members</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Creation of our Chinese community and Turkish community
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>White paper creation</p>
            <p class="index"><i class="icofont-tack-pin"></i>Road map creation</p>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-header">
          <div class="header">PHASE 5</div>
        </div>
        <div class="step-content one">
          <div class="step_list">
            <p class="index"><i class="icofont-tack-pin"></i>Nukleon launch</p>
            <p class="index"><i class="icofont-tack-pin"></i>500 holders</p>
            <p class="index"><i class="icofont-tack-pin"></i>2000 wallet Transactions</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>
              Contract Auditing by solidity finance
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>1000 organic telegram members</p>
            <p class="index">
              <i class="icofont-tack-pin"></i>Creation of our Chinese community and Turkish community
            </p>
            <p class="index"><i class="icofont-tack-pin"></i>White paper creation</p>
            <p class="index"><i class="icofont-tack-pin"></i>Road map creation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features d-flex flex-column align-items-center">
  <h2 class="section_title text-light">FAQs</h2>
  <div class="card_container w-100 d-flex flex-wrap justify-content-between">
    <div class="faq_card" data-aos="fade-right">
      <h3 class="card_title">What is the Utility/Use Case for Wiki Cat?</h3>
      <p class="card_detail">
        Wiki Cat started out as a token by Sir. Mapy for the SMC community to teach them how to create meme tokens.
        Regardless, we believe the use case for Wiki Cat lies in the strength of its community that believes in the
        social consensus of shared value. This is what has taken the likes of Doge and Shiba Inu to billions of
        dollars in the market value.
      </p>
    </div>
    <div class="faq_card" data-aos="fade-right">
      <h3 class="card_title">Who owns Nukleon?</h3>
      <p class="card_detail">
        Wiki Cat ownership has been renounced. Ownership is collectively owned by the community. There is no CEO, no
        VC or board members pulling the strings in the background. For this reason, no wallet has more than 5% of
        the token.
      </p>
    </div>
  </div>
</section>

<footer class="d-flex align-items-center justify-content-evenly">
  <a class="navbar-brand" href="#"><img src="assets/img/NUKLEON PNG.png" alt="" /></a>
  <div class="menu_container d-flex flex-column">
    <h5 class="menu_title">Contact</h5>
    <a href="" class="menu_link">No. 30 Rumunduru Eneka Road</a>
  </div>
  <div class="menu_container d-flex flex-lg-column">
    <h5 class="menu_title">Links</h5>
    <a href="" class="menu_link me-4">Link 1</a>

  </div>
</footer>




